body, html {
    height: 100%;
    margin: 0;
    font-size: 1.05vw;
  }
audio {
  width: inherit;
}

.bg {
    /* The image used */
    background-image: url("../images/BackgroundURLpage01.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
  }
.box {
    padding-bottom: 5vw;
  }
.text-banner {
      text-align: center;
      background-color: black;
      color: white;
      font-weight: normal;
      padding-top: 0.5%;
      padding-bottom: 0.5%;
      margin-top: 1%;
      margin-bottom: 1%;
  }
.title-curve {
  max-height: 57vw;
}
.toward-cover {
      margin-top: 5%;
      max-height: 37vw;
  }
.bio-pic {
  max-height: 29vw;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vw; /* Set the fixed height of the footer here */
    line-height: 3vw; /* Vertically center the text there */
    background-color: #64ccff;
    text-align: center;
    overflow: hidden;
  }
.bottom-text {
      color: white;
      line-height: inherit;
      font-size: 2vw;
  }
.space-out {
    padding-top: 3vw;
  }
.push-out {
  margin-bottom: 1.5vw;
}
.black-box {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5vw;
  }
.white-box {
  background-color: white;
  color: black;
}
.blue-box {
    background-color: rgba(100, 204, 255, 0.5); /* 0.1 alpha = 10% opacity */;
    color: white;
    text-align: center;
    padding: 2vw;
  }
.no-margin {
  margin: 0;
}
.carousel-control-prev{
    left: -10%;
}
.carousel-control-prev-icon{
    height: 4vw;
    width: 4vw;
}
.carousel-control-next{
    right: -10%;
}
.carousel-control-next-icon{
  height: 4vw;
  width: 4vw;
}
.slide-label {
  background-color: black;
  color: white;
  text-align: center;
  width: 64vw;
}
.label-content {
  padding: 1vw;
}
p.label-content {
  text-align: justify;
  padding: 3vw;
  font-size: 1.4rem;
  line-height: normal;
}
.label-content.second-label {
  padding: 3vw;
  margin: 0;
  font-weight: normal;
}
.icon {
  width: 3vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
input {
  font-size: 2vw;
}
button {
  width: 20%;
  text-align: center;
  padding: 0.1vw;
  background-color: black;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-left: 0.5vw;
  font-size: 3vw;
  cursor: pointer;
  margin-left: 8.3vw;
  margin-right: 8.3vw;
}

@media only screen and (min-width: 955px) {
  button {
    margin-left: 0.5vw;
    margin-right: 0vw;
    padding: 1.2vw;
  }
}
  